<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
Edit user
<br/>
<hr/>
<form th:method="PATCH" th:object="${person}" th:action="@{/people/{id}(id = ${person.getId()})}">

  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color: darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Errors</div>
  <br/>

  <label for="birthday">Enter birthday (dd.MM.yyyy): </label>
  <input id="birthday" type="text" th:field="*{birthday}"/>
  <div style="color: darkred" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Name Errors</div>
  <br/>
  <hr/>

  <input type="submit" value="Save"/>

</form>
</body>
</html>