<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library users</title>
</head>
<body>

Library Users

<br/>
<hr/>

<div th:each="person : ${people}">
    <a th:href="@{people/{id}(id = ${person.getId()})}" th:text="${person.getName()} + ', ' + ${person.getFormattedBirthday()}"
       }>User</a>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="Add new user">
</form>

</body>
</html>