<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<a th:text="${person.getName()} + ', ' + ${person.getFormattedBirthday()}">Person info</a>
<br/>
<hr/>
<p style="font-weight: bold">User's books:</p>
<a th:if="${#lists.isEmpty(books)}">User have no books</a>
<table th:unless="${#lists.isEmpty(books)}" th:object="${books}">
    <tr th:each="book : ${books}" th:href="@{/books/{id}(id = ${book.getId()})}">
        <td th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}" th:style="${book.isOverdue()} ?
        'color:red' : ''">
            Book info
        </td>
    </tr>
</table>

<br/>
<hr/>

<form th:method="DELETE" th:action="@{/people/{id}(id = ${person.getId()})}">
    <input type="submit" value="Delete">
</form>
<form th:method="GET" th:action="@{/people/{id}/edit/(id = ${person.getId()})}">
    <input type="submit" value="Edit">
</form>

</body>
</html>